// Aqui iran todas la variables incluyendo la paleta de colores

//todo: Paleta de colores
$bg-color-body: #ffffff;
$bg-secundary: #EDE7F6;

//Encabezados y Navegación: Púrpura Oscuro (#452b5e)
//Botones Primarios: Lila Suave (#B39DDB)
//Fondos Secundarios: Gris Perla (#EDE7F6)
//Texto Principal: Blanco (#FFFFFF)
//Botones Secundarios: Rosa Coral (#FF4081)
//Llamadas a la Acción: Dorado Suave (#FFD700)
//Fondos Generales: Blanco (#FFFFFF) y Gris Claro (#F5F5F5)


//Todo: tipografias
$font-family: Arial, Helvetica, sans-serif;